{% extends 'base.html' %}

{% block content %}

<style>
    /* .wrapper{
        position: relative;
        height: calc(100vh - 50px);
    }

    .alert{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .add-form-container{
        box-shadow: 0 0 20px 10px lightgray;
        background-color: white;
        margin: 0 auto;
        width: 500px;
        padding: 40px 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
</style>

    {% if user.is_authenticated %}
        <h1>All Patients</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                {% if patients %}
                {% for patient in patients %}
                <tr>
                    <td> <a href="{% url 'patient' patient.id %}">{{ patient.id }}</a></td>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.city }}</td>
                    <td>{{ patient.created_at }}</td>
                </tr>
                {% endfor %}
                {% endif %}
    {% else %}
        <div class="form-container">
            <h2 class="mb-4">Login</h2>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn login-btn">Login</button>
            </form>
            <div class="account-warning">
                Don't have an account? <a href="{% url 'register' %}">Sign up here</a>
            </div>
        </div>
    {% endif %}

{% endblock %}