{% extends 'base.html' %}

{% block content %} 

<style>
    .home-container{
        display: block;
    }
</style>

    {% if user.is_authenticated %}
    <div class="container home-container">
        <h1>My patients</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Created At</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
                {% if patients %}
                {% for patient in patients %}
                <tr style="position: relative">
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.city }}</td>
                    <td>{{ patient.created_at }}</td>
                    <td><a href="{% url 'patient' patient.id %}" class="stretched-link">{{ patient.id }}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
    </div>
    {% else %}
    <style>
        .alert{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 16px 0;
        }
        .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    </style>
    <div class="container center-content">
        <div class="form-container">
            <h2 class="mb-4">Login</h2>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn login-btn">Login</button>
            </form>
            <div class="account-warning">
                Don't have an account? <a href="{% url 'register' %}">Sign up here</a>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}