{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <!-- <h2>Patients</h2> -->
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Created At</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
            {% if patients %}
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.city }}</td>
                    <td>{{ patient.created_at }}</td>
                    <td> <a href="{% url 'patient' patient.id %}">{{ patient.id }}</a></td>
                </tr>
                {% endfor %}
            {% endif %}
    {% else %}
    <br/>
    <div class="form-container">
        <h2 class="mb-4">Login</h2>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary login-btn">Login</button>
        </form>
    </div>
    {% endif %}

{% endblock %}