{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    display: flex;
    justify-content: center;
  }

  img{
    width: 20%;
    margin: 20px auto;
  }

  .card-title{
    text-align: center;
    font-size: 25px;
  }
</style>

<div class="container">
  <h1>Patient details</h1>
  <div class="card mb-3" style="width: max-content;">
        {% if patient.gender == 'M' %}
          <img src="{% static 'main/172626_user_male_icon.png' %}" class="img-fluid rounded-start" alt="...">
        {% else %}
          <img src="{% static 'main/172622_user_female_icon.png' %}" class="img-fluid rounded-start" alt="...">
        {% endif %}        
        <h5 class="card-title">{{ patient }}</h5>
        <hr/>
        <div class="card-body">
            <p class="card-text"><strong>Phone: </strong>{{ patient.phone }}</p>
            <p class="card-text"><strong>Email: </strong>{{ patient.email }}</p>
            <p class="card-text"><strong>Address: </strong>{{ patient.address }}</p>
            <p class="card-text"><strong>City: </strong>{{ patient.city }}</p>
            <p class="card-text"><strong>Created at: </strong>{{ patient.created_at }}</p>
            <p class="card-text"><strong>ID: </strong>{{ patient.id }}</p>
            <p class="card-text"><strong>User: </strong>{{ patient.user }}</p>
            <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
            <a href="{% url 'edit_patient' patient.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_patient' patient.id %}" style="float: right" class="btn btn-danger">Delete</a>
        </div>
    </div>
  </div>
{% endblock %}