{% extends 'base.html' %}

{% block content %}

<style>
    .container{
        height: auto;
    }

    h1{
        text-align: center;
        padding-bottom: 20px;
    }

    .btn{
        margin: 20px 0px;
    }
</style>
<div class="container center-content">
    <div class="form-container">
        <h1>Register</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn login-btn" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}